// orange
$orange-color0:#fff9f0;
$orange-color1:#ffebcc;
$orange-color2:#ffd699;
$orange-color3:#ffc266;
$orange-color4:#ffad33;
$orange-color5:#e68a00; // orange - black
$orange-color6:#cc7a00;
$orange-color7:#b36b00;
$orange-color8:#995c00;
$orange-color9:#804d00;

// deep orange
$deep-orange-color0:#fff5f2;
$deep-orange-color1:#ffddd3;
$deep-orange-color2:#ffbca7;
$deep-orange-color3:#ff9a7b; // black
$deep-orange-color4:#ff7850;
$deep-orange-color5:#ff4107; // deep orange
$deep-orange-color6:#e93600;
$deep-orange-color7:#cb2f00;
$deep-orange-color8:#ae2900;
$deep-orange-color9:#912200;

$orange: #FB6520;
$yellow: #F0B039;
$green: #6EC5B8;
$black: #161e2c;
$dark-grey: #312c29;
$grey: #6C6865;
$light-grey: #F7F8F9;

$bg-color: #F8F4F3;

$btn-green: $green;
$btn-green-hover: #4eb7a7;

$btn-orange: $orange;
$btn-orange-hover: #ea5814;

